# User specific aliases and functions
alias pop='popd'
alias p='pushd'
alias rm='rm -rf'
alias cp='cp -r'
alias mv='mv -i'
alias mkdir='mkdir -p'
alias ls='ls -lahF --color' # add colors for filetype recognition

alias clear='clear;clear;clear;clear;clear'
alias kernel='rpm -q kernel;uname -r'
alias h='history | grep'
alias j='jobs -l'
alias which='type -all'
alias ..='cd ..'
alias path='echo -e ${PATH//:/\\n}'
alias du='du -kh'
alias df='df -kTh'

alias ssh='ssh -X -K '
alias yum='sudo yum'
alias kinit='kinit -f -r7d -l26h'

alias python='ipython'

alias cb='vim /home/tiradani/.bashrc; source /home/tiradani/.bashrc'
alias cg='vim /home/tiradani/.gitconfig'
